<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>vue-todo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script type="text/javascript" src="https://vuejs.org/js/vue.js"></script>
</head>
<body>


<div class="container">

    <h1>my to do list</h1>

    <div id="app-list">
        <ol>
            <todo-item></todo-item>
        </ol>
    </div>

    <div id="app-input">
        <input v-model="item" placeholder="input my to do item">
        <button v-on:click="add()">ADD</button>
    </div>




    <!--<p>Message is: {{ message }}</p>
    <div id="example">
        <my-component></my-component>
    </div>-->


    <script type="text/javascript">

//        // register
//        Vue.component('my-component', {
//            template: '<div>A custom component!</div>'
//        })
//        // create a root instance
//        new Vue({
//            el: '#example'
//        })

        Vue.component('todo-item', {
            // The todo-item component now accepts a
            // "prop", which is like a custom attribute.
            // This prop is called todo.
            props: ['todo'],
            template: '<li v-for="(value, key) in todos" v-bind:value="todos.value" v-bind:key="todos.key"><button v-on:click="remove(key)"> X </button>  {{ todo.value }}</li>',
            methods: {
                remove: function (e) {
                    debugger;
                }
            }
        })

        var appList = new Vue({
            el: '#app-list',
            data: {
                todos: [
                    { key : 0, value: 'Learn JavaScript' },
                    { key : 1, value: 'Learn Vue' },
                    { key : 2, value: 'Build something awesome' }
                ]
            },
            methods: {
            }
        })

        var appInput = new Vue({
            el: '#app-input',
            data: {
                item : ""
            },
            methods: {
                add: function () {
                    appList.todos.push({"key" : appList.todos.length, "value" : this.item});
                    this.item = "";
                },
                remove: function () {
                    //appList.todos.splice("text", this.value);
                }
            }
        })


    </script>


</div>



</body>
</html>